@import url('https://fonts.googleapis.com/css?family=Staatliches:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

html, body {
    overflow-x: hidden;
}

h1
h2
h3
h4
h5 {
    font-family: "Staatliches", sans-serif;
}

/*---------------------------------------------------------------Nav Elements */

div a img {
    width: 75%;
    margin-left: 12%;
}

.topnav {
    background-color: #353434;
    min-height: 100px;
    text-decoration: none;
}

.topnav-links {
    display: block;
    position: relative;
}

.topnav-links li {
    font-family: "Staatliches", sans-serif;
    text-align: center;
    border-bottom: solid 1px;
    border-bottom-color: #ffc94c;
    border-top: solid 1px;
    border-top-color: #ffc94c;
    width: 100%;
    padding-bottom: 5px;
    padding-top: 5px;
    letter-spacing: 1.5;
    margin-bottom: 5px;
}

.topnav-links li a {
    color: #fafafa; 
    text-transform: capitalize;
    font-size: 25px;
    text-decoration: none;
    transition: 0.5s ease-in-out;
}

.topnav-links li a:hover {
    color: #ffc94c;
}

/*--------------------------------------------------------------Index main bg */


.image-wrapper img {
    width: 100%;
    height: 100%;
}

/*----------------------------------------------------------Article main page */

.quote-container {
    background-color: #fafafa;
    border-color: #ffc94c;
    border: dotted 10px;
    padding: 80px 0px 80px 0px;
}

.quote-mainpage {
    font-family: "Staatliches", sans-serif;
    display: inline-block;
    text-align: center;
    color: #ffc94c;
    font-size: 50px;
    padding-right: 10px;
    padding-left: 10px;
}

.quote-artist {
    font-family: "Staatliches", sans-serif;
    text-align: center;
    color: #ffc94c;
}

/*-----------------------------------------------------------------Artist Bio */

.artist-title {
    background-color: #353434;
    width: 100%;
    font-family: "Staatliches", sans-serif;
    color: #ffc94c;
    text-align: center;
    padding-top: 10px;
    margin-bottom: -15px;
}

.artistbio-container {
    background-color: #353434;
    width: 100%;
    min-height: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.artist {
    font-family: "Staatliches", sans-serif;
    color: #fafafa;
    display: block;
    min-height: 175px;
    margin-bottom: 20px;
}

.artist h3 {
    color: #ffc94c;
    text-align: center;
    margin-top: 5px;
}

.artist h4 {
    text-align: center;
    margin-top: -8px;
}

.artist-left {
    margin-bottom: 25px;
    border: 2.5px dotted;
    border-color: #ffc94c;
    margin-right: -5px;
    margin-left: -5px;
    max-height: 225px;
    overflow: hidden;
    float: left;
}

.artist-image-left {
    display: block;
}

.artist-right {
    margin-bottom: 25px;
    border: 2.5px dotted;
    border-color: #ffc94c;
    margin-right: -5px;
    margin-left: -5px;
    max-height: 225px;
    padding-bottom: 10px;
    overflow: hidden;
    float: right
}

.artist-image-right {
    display: block;
}

.artist-sub-title {
    width: 100%;
    color: #ffc94c;
    font-size: 30px;
    font-family: "Staatliches", sans-serif;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

#artist-link {
    margin-top: 15px;
    margin-bottom: 15px;
}

 #artist-photo {
    height: 50%;
    width: 50%;
}

.artist-text {
    font-family: "Staatliches", sans-serif;
    text-align: center;
    font-size: 17px;
}

/*-----------------------------------------------------------Tour Dates/Events*/

.background-color-timeline {
    background-color: #353434;
}

.bg-color-tour-dates h2 {
    color: #ffc94c;
    text-align: center;
    font-family: "Staatliches", sans-serif;
}

.timeline-item h4 {
    color: #ffc94c;
    font-family: "Staatliches", sans-serif;
}

.timeline-item {
    padding: 4em 2em 0em 2em;
    position: relative;
    color: #ffc94c;
    border-left: 1px solid;
}

.timeline-item p {
    padding: 0;
    margin: 0;
    color: #fafafa;
}

.timeline-item:before {
    content: attr(dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-family: "Staatliches", sans-serif;
    font-weight: 500;
    font-size: .8em;
    padding: 0;
    margin: 0;
}

.timeline-item:after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: "";
    background: #fafafa;
    
}

.tour-date-items {
    margin-bottom: 30px;
}

.btn {
    color: #fafafa;
    background-color: #ffc94c;
    border: none;
    font-weight: 500;
    transition: all 0.5s ease-in-out;
}

.btn:hover {
    background-color: #fafafa;
    color: #ffc94c;
}

/*-------------------------------------------------------------------Carousel */

.header-media {
    color: #ffc94c;
    font-family: "Staatliches", sans-serif;
    text-align: center;
    font-size: 50px;
}

.carousel-container {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #353434
}

.glyphicon-chevron-left {
    color: #ffc94c;
}

.glyphicon-chevron-right {
    color: #ffc94c;
}

.carousel-inner img{
    display:inline-block;
    margin: auto;
    vertical-align: middle;
}

/*----------------------------------------------------------------------Audio */

.music-container {
    background-color: #353434;
    padding-top: 20px;
    padding-bottom: 20px;
}

.music-player1 {
    border: 1.5px solid;
    border-color: #ffc94c;
    padding: 0;
    margin: 0px 0px 15px 0px;
    text-align: center;
}

.music-player2 {
    border: 1.5px solid;
    border-color: #ffc94c;
    padding: 0;
    margin: 0px 0px 15px 0px;
    text-align: center;
}

/*----------------------------------------------------------------------Video */

.video-container {
    background-color: #353434;
    padding-top: 20px;
    padding-bottom: 20px;
}

.iframe-video1 {
    padding: 0;
    margin: 10px 0px 10px 0px;
    border: 1.5px solid;
    border-color: #ffc94c;
}

.iframe-video2 {
    padding: 5px 5px 5px 5px;
    margin: 5px 10px 5px 10px;
    border: 1.5px solid;
    border-color: #ffc94c;
    float: right;
}

/*------------------------------------------------------------------Alert Box */

.alert-container .col-xs-12 {
    padding-left: 0;
    padding-right: 0;
}

.site-wide-alert {
    color: #000000;
    background-color: #ffc94c;
    border-color: #ffc94c;
    padding: 5px 10px 5px 0px;
    margin-bottom: 0;
    border: 1px solid transparent;
    border-radius: 0;
    text-align: center;
    text-decoration: none;
}

/*---------------------------------------------------------------------Footer */

.footer-container {
    background-color: #353434;
    min-height: 100px;
}

.footer-banner {
    color: #ffc94c;
    font-family: "Staatliches", sans-serif;
    font-size: x-large;
    text-align: center;
    padding-top: 10px;
}

.social-links {
    margin-bottom: 0;
    text-align: center;
}

.social-links li a i {
    width: 80px;
    height: 80px;
    padding: 22px 0;
    font-size: x-large;
    text-align: center;
    color: #fafafa;
    margin-top: -13px;
    transition: all 0.5s ease-in-out;
}

.social-links li a i:hover {
    color: #ffc94c;
}

/*------------------------------------------------------------- Media Queries */

@media only screen and (min-width: 768px) {
    
    div a img {
        width: 40%;
        height: 40%;
        margin-left: 30%;
        margin-top: -15px;
    }
    
    .topnav-links {
        text-align: center;
        margin-top: -35px;
        margin-bottom: -5px;
        font-size: 50px;
    }
    
    .topnav-links li {
        display: inline;
        border-top-style: hidden;
        border-bottom-style: hidden;
        margin-left: 5%;
        margin-right: 5%;
        letter-spacing: 2px;
    }
    
    .tour-date-items {
        margin-left: 150px;
        text-align: center;
    }
    
    .iframe-video1 {
        float: left;
        margin: 5px 10px 5px 10px;
    }
    
    .music-player1 {
        margin-left: 10px;
        float: left;
    }
    
    .music-player2 {
        margin-right: 10px;
        float: right;
    }
}