@import url('https://fonts.googleapis.com/css?family=Staatliches:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

html, body {
    overflow-x: hidden;
}

h1
h2
h3
h4
h5 {
    font-family: "Staatliches", sans-serif;
}

/*---------------------------------------------------------------Nav Elements */

div a img {
    width: 75%;
    margin-left: 12%;
}

.topnav {
    background-color: #353434;
    min-height: 100px;
    text-decoration: none;
}

.topnav-links {
    display: block;
    position: relative;
}

.topnav-links li {
    font-family: "Staatliches", sans-serif;
    text-align: center;
    border-bottom: solid 1px;
    border-bottom-color: #ffc94c;
    border-top: solid 1px;
    border-top-color: #ffc94c;
    width: 100%;
    padding-bottom: 5px;
    padding-top: 5px;
    letter-spacing: 1.5;
    margin-bottom: 5px;
}

.topnav-links li a {
    color: #fafafa; 
    text-transform: capitalize;
    font-size: 25px;
    text-decoration: none;
    transition: 0.5s ease-in-out;
}

.topnav-links li a:hover {
    color: #ffc94c;
}

/*--------------------------------------------------------------Index main bg */


.image-wrapper img {
    width: 100%;
    height: 100%;
}

/*----------------------------------------------------------Article main page */

.quote-container {
    background-color: #fafafa;
    border-color: #ffc94c;
    border: dotted 10px;
    padding: 80px 0px 80px 0px;
}

.quote-mainpage {
    font-family: "Staatliches", sans-serif;
    display: inline-block;
    text-align: center;
    color: #ffc94c;
    font-size: 50px;
    padding-right: 10px;
    padding-left: 10px;
}

.quote-artist {
    font-family: "Staatliches", sans-serif;
    text-align: center;
    color: #ffc94c;
}

/*-----------------------------------------------------------------Artist Bio */

.artist-title {
    background-color: #353434;
    width: 100%;
    font-family: "Staatliches", sans-serif;
    color: #ffc94c;
    text-align: center;
    padding-top: 10px;
    margin-bottom: -15px;
}

.artistbio-container {
    background-color: #353434;
    width: 100%;
    min-height: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.artist {
    font-family: "Staatliches", sans-serif;
    color: #fafafa;
    display: inline;
    min-height: 175px;
}

.artist h3 {
    color: #ffc94c;
}

.artist-left {
    float: left;
    margin-bottom: 15px;
    border: 2.5px dotted;
    border-color: #ffc94c;
    margin-right: -5px;
    margin-left: -5px;
}

.artist-image-left {
    display: block;
}

.artist-right {
    float: right;
    margin-bottom: 15px;
    border: 2.5px dotted;
    border-color: #ffc94c;
    margin-right: -5px;
    margin-left: -5px;
}

.artist-image-right {
    display: inline-block;
}

.artist-sub-title {
    width: 100%;
    color: #ffc94c;
    font-size: 30px;
    font-family: "Staatliches", sans-serif;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

#artist-link {
    float: left;
    margin-top: 30px;
}

 #artist-photo {
    height: 50%;
    width: 50%;
}

.artist-text {
    font-family: "Staatliches", sans-serif;
    text-align: center;
    font-size: 20px;
}

/*------------------------------------------------------------------Alert Box */

.alert-container .col-xs-12 {
    padding-left: 0;
    padding-right: 0;
}

.site-wide-alert {
    color: #000000;
    background-color: #ffc94c;
    border-color: #ffc94c;
    padding: 5px 10px 5px 0px;
    margin-bottom: 0;
    border: 1px solid transparent;
    border-radius: 0;
    text-align: center;
    text-decoration: none;
}

/*---------------------------------------------------------------------Footer */

.footer-container {
    background-color: #353434;
    min-height: 100px;
}

.footer-banner {
    color: #ffc94c;
    font-family: "Staatliches", sans-serif;
    font-size: x-large;
    text-align: center;
    padding-top: 10px;
}

.social-links {
    margin-bottom: 0;
    text-align: center;
}

.social-links li a i {
    width: 80px;
    height: 80px;
    padding: 22px 0;
    font-size: x-large;
    text-align: center;
    color: #fafafa;
    margin-top: -13px;
    transition: all 0.5s ease-in-out;
}

.social-links li a i:hover {
    color: #ffc94c;
}

/*------------------------------------------------------------- Media Queries */

@media only screen and (min-width: 768px) {
    
    div a img {
        width: 40%;
        height: 40%;
        margin-left: 30%;
        margin-top: -15px;
    }
    
    .topnav-links {
        text-align: center;
        margin-top: -20px;
        font-size: x-large;
    }
    
    .topnav-links li {
        display: inline;
        border-top-style: hidden;
        border-bottom-style: hidden;
        margin-left: 5%;
        margin-right: 5%;
        letter-spacing: 2px;
    }
}